
*{
    margin:0;
    padding:0;
}

h2{
    font-family:"roboto", sans-serif;
    font-weight:570;
}
/*navbar------------------*/
.navbar{
    padding-left:0;
    font-family:"Roboto", sans-serif ;
    font-size:.75em;
    margin-top:0;
}

/*header--------*/
.header-cover{
    background-color: rgb(201, 225, 233);
}
h1{
    color:rgb(83, 82, 82);
    padding:3%;
    padding-bottom:0;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
}
.get-a-qoute{
    padding-left:3%;
    padding-bottom:2%;
    padding-top:0;
}

/*------images in header*/
.memorial-card{
        background-image:url("../headerpics/mem.jpg") no-repeat bottom right fixed;
      }

      /*What do we do */
      .what-we-do{
          text-align:left;
          font-family:"roboto", sans-serif;
          font-size:17px;
          margin-left:3.2%;
      }

      /*mission statement*/
      .mission{
          text-align:center;
          font-family:"Roboto", sans-serif;
          background-color:rgb(201, 225, 233);
          padding-top: 20px;
          font-weight:550;
          font-style: italic;
          font-size:20px;
      }

      /*Our Products*/
      .our-products{
          text-align: center;
          font-family:"Roboto", sans-serif;
      }

      /*Contact Us*/
      .contact{
          text-align:center;
          font-family:"Roboto";
          background-color: rgb(201, 225, 233);
      }

      .form{
          margin:0 auto;
          max-width:70%;
      }


      