
*{
    margin:0;
    padding:0;
}

h2{
    font-family:"roboto", sans-serif;
    font-weight:570;
}
/*navbar------------------*/
.navbar{
    font-family:"Roboto", sans-serif ;
    font-size:.75em;
    margin-top:0;
}



/*header--------*/
.header-cover{
    background-color:rgb(201, 225, 233);
}
h1{
    color:rgb(83, 82, 82);
    padding:2%;
    padding-bottom:0;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    padding-top:3%;
    font-size:52px;
    
    
}
.get-a-qoute{
    padding-left:2%;
    padding-bottom:3.8%;
    padding-top:0;
    
}
.qoutebutton{
    
height:70px;
width:200px;
font-size:30px;
}

.slideshow{
    float:right;
    height:560px;
    width:680px;
    margin-right:0%;
    margin-top:0%;
    padding:0;
}




      /*What do we do */
      .what-we-do{
          text-align:left;
          font-family:"roboto", sans-serif;
          font-size:17px;
          margin-left:6.2%;
      }

      /*mission statement*/
      .mission{
          text-align:center;
          font-family:"Roboto", sans-serif;
          background-color:rgb(201, 225, 233);
          padding-top: 20px;
          font-weight:550;
          font-style: italic;
          font-size:20px;
      }

      /*Our Products*/
      .our-products{
          text-align: center;
          font-family:"Roboto", sans-serif;
      }

      .memorialcards{
          display: inline-block;
          width: 300px;
          height: 300px;
           padding: 5px;
           background: black url(img/IMG_0629.jpeg) no-repeat center;
           background-size:cover;
           float:left;
            margin-left:200px;
            margin-bottom:35px;
            margin-top:10px;
      }

      .opaque-overlay{
          position:absolute;
          margin-left:215px;
            margin-bottom:35px;
            margin-top:30px;
          height:270px;
          width:270px;
          background-color:rgba(0, 0, 0, 0.5);
          
      }

      .product{
          position:absolute;
          color:white;
          text-align:center;
          margin-top: 120px;
          margin-left:275px;
      }

      .opaque-2{
           position:absolute;
          margin-left:615px;
            margin-bottom:35px;
            margin-top:30px;
          height:270px;
          width:270px;
          background-color:rgba(0, 0, 0, 0.5);
      }

      .weddinginvitations{
          display: inline-block;
          width: 300px;
          height: 300px;
           padding: 5px;
           background: black url(img/weddingstationery.jpg) no-repeat center;
           background-size:cover;
           float:left;
            margin-left:100px;
            margin-bottom:35px;
            margin-top:10px;
      }

      .product2{
          position:absolute;
          color:white;
          text-align:center;
          margin-top: 120px;
          margin-left:675px;
      }

      /*Contact Us*/
      .contact{
          text-align:center;
          font-family:"Roboto";
          background-color: rgb(201, 225, 233);
      }

      .form{
          margin:0 auto;
          max-width:70%;
      }

      @media screen and (max-width:1266px){
          
          

          /*header*/
          .slideshow{
              height:400px;
              width:550px;
              
          }

          h1{
              font-size:40px;
          }

          .qoutebutton{
              height:60px;
              width:150px;
              font-size:20px;
              margin-top: 5px;
          }

          /*whqat do we do section*/
          .what-we-do{
              margin-left:0px;
          }

      }

      @media screen and (max-width:750px){
          /*logo*/
          .logo{
              margin-left:0px;
          }

        /*header*/
          .slideshow{
              display:none;
          }

          .card{
              background: black url(img/cards.jpg) no-repeat center center;
              width:100%;
              height:300px;
              background-size: cover; 
          }

          h1{
              line-height:1.2;
              
          }

          

          /*what do we do section*/
          .what-we-do{
              margin-left:0px;
          }

          .picture{
              background: black url(img/memorial.jpg) no-repeat center center;
              width:100%;
              height:300px;
              background-size: cover; 
              
          }

          /*Our Products*/

          .ourproducts{
              text-align:center;
          }
          .memorialcards{
              margin-left:0px;
              
          }

          .product{
              margin-left:112px;
          }

          .opaque-overlay{
              margin-left:10px;
          }

          .weddinginvitations{
              margin-left:36px;
          }

          .product2{
              margin-left:112px;
              margin-top: 460px;
          }

          .opaque-2{
              margin-left:52px;
              margin-top: 373px;
          }

      }

      @media screen and (max-width:960px){

        /*header*/
          .slideshow{
              height:310px;
              width:420px;
              margin-right:0px;
              
          }

          h1{
              font-size:30px;
          }

          .qoutebutton{
              height:50px;
              width:150px;
              font-size:20px;
              margin:0;
          }

          /*what do we do section*/
          .what-we-do{
              margin-left:0px;
              margin-right:0;
              font-size:15px;
          }

          .mission{
              font-size:20px;
              padding-top:10px;
          }

          /*our products*/

          .ourproducts{
              text-align:center;
          }

          .memorialcards{
              margin-left: 80px;
              width:250px;
              height:250px;
          }

          .opaque-overlay{
              width:220px;
              height:220px;
              margin-left:95px;
          }

          .product{
              margin-left:135px;
              margin-top:100px;
          }

          .weddinginvitations{
              margin-left: 40px;
              width:250px;
              height:250px;
          }

          .product2{
              margin-left:415px;
              margin-top:100px;
          }

          .opaque-2{
              width:220px;
              height:220px;
              margin-left:385px;

          }

      }


      