
*{
    margin:0;
    padding:0;
}

h2{
    font-family:"roboto", sans-serif;
    font-weight:570;
}
/*navbar------------------*/
.navbar{
    padding-left:0;
    font-family:"Roboto", sans-serif ;
    font-size:.75em;
    margin-top:0;
}

/*header--------*/
.header-cover{
    background-color: rgb(201, 225, 233);
}
h1{
    color:rgb(83, 82, 82);
    padding:2%;
    padding-bottom:0;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    padding-top:3%;
    font-size:52px;
    
    
}
.get-a-qoute{
    padding-left:2%;
    padding-bottom:3.8%;
    padding-top:0;
    
}
.qoutebutton{
    
height:70px;
width:200px;
font-size:30px;
}

.slideshow{
    float:right;
    height:560px;
    width:680px;
    margin-right:0%;
    margin-top:0%;
    padding:0;
}

@media screen and (max-width: 1366px){
    #navvy{
        margin-left:2px;
    }
}



      /*What do we do */
      .what-we-do{
          text-align:left;
          font-family:"roboto", sans-serif;
          font-size:17px;
          margin-left:6.2%;
      }

      /*mission statement*/
      .mission{
          text-align:center;
          font-family:"Roboto", sans-serif;
          background-color:rgb(201, 225, 233);
          padding-top: 20px;
          font-weight:550;
          font-style: italic;
          font-size:20px;
      }

      /*Our Products*/
      .our-products{
          text-align: center;
          font-family:"Roboto", sans-serif;
      }

      /*Contact Us*/
      .contact{
          text-align:center;
          font-family:"Roboto";
          background-color: rgb(201, 225, 233);
      }

      .form{
          margin:0 auto;
          max-width:70%;
      }


      