
*{
    margin:0;
    padding:0;
}

h2{
    font-family:"roboto", sans-serif;
    font-weight:570;
    color:rgb(83, 82, 82);
}

h3{
    font-family:"roboto", sans-serif;
    color:rgb(83, 82, 82);
}

p{
    color:rgb(83, 82, 82);
}

h5{
    color:rgb(83, 82, 82);
}
/*navbar------------------*/
.navbar{
    font-family:"Roboto", sans-serif ;
    font-size:.75em;
    margin-top:0;
}



/*header--------*/
.header-cover{
    background-color:rgb(201, 225, 233);
}
h1{
    color:rgb(83, 82, 82);
    padding:2%;
    padding-bottom:0;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    padding-top:3%;
    font-size:52px;
    
    
}
.get-a-qoute{
    padding-left:2%;
    padding-bottom:3.8%;
    padding-top:0;
    
}
.qoutebutton{
    
height:70px;
width:200px;
font-size:30px;
}

.slideshow{
    float:right;
    height:400px;
    width:680px;
    margin-right:0%;
    margin-top:0%;
    padding:0px;
}

.cover-padding{
    margin-bottom:10px;
    padding:0px 0px 10px 0px;
    
}



      /*What do we do */
      .what-we-do{
          text-align:left;
          font-family:"roboto", sans-serif;
          font-size:17px;
          margin-left:20px;
          margin-top:10px;
          float:left;
          margin-bottom:10px;
          padding:10px;
      }

      .whatwedopic1{
          background: black url(img/weddinginvite.jpg) no-repeat center center;
              width:300px;
              height:200px;
              background-size: cover; 
              float:right;
              margin-top:10px;
              margin-left:40px;
              border: 7px solid rgb(201, 225, 233);
      }

      .whatdowedopic2{
          position:absolute;
          background: black url(img/IMG_0642.jpeg) no-repeat center center;
              width:250px;
              height:150px;
              background-size: cover; 
              float:right;
              margin-top:100px;
              border: 7px solid rgb(201, 225, 233);
              margin-left:275px;
      }

     
           
      

      /*mission statement*/
      .mission{
          margin-top:20px;
          margin-bottom:10px;
          text-align:center;
          font-family:"Roboto", sans-serif;
          padding-top: 30px;
          padding-bottom:30px;
          font-style: bold;
          background-color:rgb(201, 225, 233);
      }

      .mission p{
          padding-bottom:10px;
          padding-top:10px;
          padding-left:10px;
          padding-right:10px;
      }

     

      /*Our Products*/
      .ourproducts{
          text-align: center;
          font-family:"Roboto", sans-serif;
          padding:10px;
          margin-top:10px;
      }

      .pcard{
          padding-bottom:10px;
      }

      .product2:hover{
          transform:scale(1.05)
      }

       .product:hover{
          transform:scale(1.1)
      }

      .memorialcards{
          display: inline-block;
          width: 300px;
          height: 300px;
           padding: 5px;
           background: black url(img/IMG_0629.jpeg) no-repeat center;
           background-size:cover;
           float:right;
            margin-bottom:35px;
            margin-top:10px;
      }

      .opaque-overlay{
          position:absolute;
          margin-left:255px;
            margin-bottom:35px;
            margin-top:30px;
          height:270px;
          width:270px;
          background-color:rgba(0, 0, 0, 0.5);
          
      }

      .product{
          position:absolute;
          color:white;
          text-align:center;
          margin-top: 120px;
          margin-left:315px;
      }

      .opaque-2{
           position:absolute;
          margin-left:15px;
            margin-bottom:35px;
            margin-top:30px;
          height:270px;
          width:270px;
          background-color:rgba(0, 0, 0, 0.5);
      }

      .weddinginvitations{
          display: inline-block;
          width: 300px;
          height: 300px;
           padding: 5px;
           background: black url(img/weddingstationery.jpg) no-repeat center;
           background-size:cover;
           float:left;
            margin-bottom:35px;
            margin-top:10px;
      }

      .product2{
          position:absolute;
          color:white;
          text-align:center;
          margin-top: 110px;
          margin-left:22px;
          font-size:29px;
      }

      

      /*Contact Us*/
      .contact{
          margin-top:10px;
          text-align:center;
          font-family:"Roboto";
          background-color: rgb(201, 225, 233);
      }

      .contact h2{
          padding-top:10px;
          margin-top:10px;
      }

      .form{
          margin:0 auto;
          max-width:70%;
          padding:10px;
      }

     .form-control{
         margin-bottom:10px;
     }
     #exampleFormControlTextarea1{
         margin-bottom:20px;
     }

     .contact h5{
         margin-bottom:10px;
     }

     .general-footer-styles{
         padding-top:30px;
         padding-bottom:30px;
         margin:0;
         font-family:"roboto", sans-serif;
     }

     .fa-envelope{
         height:20px;
         width:20px;
     }

     .fa-phone{
         height:20px;
         width:20px;
     }

     .fa-mobile-alt{
         height:20px;
         width:20px;
     }

     .facebook i{
         font-size:30px;
         color:blue;
     }

     .facebook{
         color:blue;
         padding-top:25px;
     }

     

      @media screen and (max-width:1200px){

        /*cover*/
          .slideshow{
              height:350px;
              width:580px;
          }

          h1{
              font-size:42px;
          }

          /*what-do-we do section*/
          .whatdowedopic2{
              margin-left:210px;
          }

          /*product section*/

          .opaque-child{
              margin-left:-90px;
          }

          .opaque-title{
              margin-left:-90px;
          }
      }

      @media screen and (max-width:1050px){
          
          

          /*header*/

          .cover-padding{
              padding:0px 0px 30px 0px
          }
          .slideshow{
              height:400px;
              width:550px;
              
          }

          h1{
              font-size:40px;
          }

          .qoutebutton{
              height:60px;
              width:150px;
              font-size:20px;
              margin-top: 5px;
          }

          /*whqat do we do section*/
          

          .whatdowedopic2{
              margin-left:60px;
              margin-top:160px;
              height:150px;
              width:250px;
              margin-bottom:10px;
          }

          .whatwedopic1{
              height:150px;
              width:250px;
              margin-top:0px;
              margin-left:60px;
          }

          /*mission*/
          .mission{
              margin-top:50px;
          }

          /*our products*/
          .opaque-overlay{
              margin-left: 170px;
          }

          .product{
              margin-left:225px;
          }

          .opaque-child{
              margin-left:0px;
          }

          .opaque-title{
              margin-left:0px;
          }

          

      }

      @media screen and (max-width:767px){
          /*logo*/
          .logo{
              margin-left:0px;
          }

        /*header*/
          .slideshow{
              display:none;
          }

          .card{
              background: black url(img/cards.jpg) no-repeat center center;
              width:100%;
              height:300px;
              background-size: cover; 
          }

          h1{
              line-height:1.2;
              
          }

          

          /*what do we do section*/
          

          .picture{
              background: black url(img/memorial.jpg) no-repeat center center;
              width:100%;
              height:300px;
              background-size: cover; 
          }

          .whatwedopic1{
              display:none;
          }

          /*Our Products*/

          .memorialcards{
              float:none;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
              position:absolute;
              margin-top:150px;
          }

          .element1{
              position:relative
          }
          
          .weddingelement{
              position:relative;
          }
          .weddinginvitations{
              margin:0;
              float:none;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
              position:absolute;
              margin-top:480px;
          }

          .weddinginvitations{
              float:none;
          }

          
          .oppy{
            display:flex;
            justify-content: center;
            margin-top:320px;
            margin-right:15px;
            }


          .weddingproduct{
              display:flex;
            justify-content: center;
            margin-right:63px;
          }

          

          .opaque-child{
              
              display:flex;
            justify-content: center;
            margin:auto 0;
            margin-top:-10px;
            margin-right:40px;
          }

          .opaque-title{
              display:flex;
            justify-content: center;
            margin-right:115px;
          }

          .contact{
              margin-top:350px;
          }

          /*footer*/

          .general-footer-styles{
              padding:0;
              text-align: center;
          }

          .address{
              padding-top:20px;
              margin-top:10px;
          }

          .facebook{
              padding-bottom:20px;
              margin-bottom:10px;
          }

      }

     

      @media screen and (max-width:991px){
          /*our products*/

          .opaque-child{
              margin-left:-125px;
          }

          .opaque-title{
              margin-left:-125px;
          }

          /*footer*/

          .dohertylogo{
              display:none;
          }
      }

      @media screen and (max-width:960px){
          .cover-padding{
            padding:0px 0px 0px 0px;
        }

        .slideshow{
              height:310px;
              width:480px;
              margin-right:0px;
              
          }

          h1{
              font-size:35px;
          }

          .qoutebutton{
              height:50px;
              width:150px;
              font-size:20px;
              margin:0;
          }

          /*What do we do section*/

          .what-we-do{
              margin-left:0;
          }

          .whatdowedopic2{
              display:none;
          }

          .whatwedopic1{
              height:200px;
              width:300px;
              margin-top:80px;
          }

          .mission{
              margin-top:0;
          }


          
      }

      @media screen and (max-width:900px){

        /*header*/

        .cover-padding{
            padding-bottom:20px;
        }
          .slideshow{
              height:310px;
              width:420px;
              margin-right:0px;
              
          }

          h1{
              font-size:30px;
          }

          .qoutebutton{
              height:50px;
              width:150px;
              font-size:20px;
              margin:0;
          }

          /*what do we do section*/
          .what-we-do{
              font-size:15px;
          }

          .whatwedopic1{
              margin-top:50px;
              margin-left:20px;
          }

          .mission{
              font-size:20px;
              margin-top:0px;
          }

          /*our products*/

          .ourproducts{
              text-align:center;
          }

           .opaque-child{
              margin-left:0px;
          }

          .opaque-title{
              margin-left:0px;
          }


          .opaque-overlay{
              margin-left:45px;
          }

          .product{
              margin-left:110px;
              
          }

          .product2{
              margin-left:65px;
              
          }

          .opaque-2{
              
              margin-left:15px;

          }

      }


      