
*{
    margin:0;
    padding:0;
}

h2{
    font-family:"roboto", sans-serif;
    font-weight:570;
}
/*navbar------------------*/
.navbar{
    font-family:"Roboto", sans-serif ;
    font-size:.75em;
    margin-top:0;
}



/*header--------*/
.header-cover{
    background-color:rgb(201, 225, 233);
}
h1{
    color:rgb(83, 82, 82);
    padding:2%;
    padding-bottom:0;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    padding-top:3%;
    font-size:52px;
    
    
}
.get-a-qoute{
    padding-left:2%;
    padding-bottom:3.8%;
    padding-top:0;
    
}
.qoutebutton{
    
height:70px;
width:200px;
font-size:30px;
}

.slideshow{
    float:right;
    height:560px;
    width:680px;
    margin-right:0%;
    margin-top:0%;
    padding:0;
}

.cover-padding{
    padding:0px 0px 10px 0px;
    margin:0px;
}



      /*What do we do */
      .what-we-do{
          text-align:left;
          font-family:"roboto", sans-serif;
          font-size:17px;
          margin-left:2%;
          margin-top:0;
          float:right;
          background-color:white;
          margin-bottom:10px;
          padding:10px 0px 10px 0px;
      }

      .section2-picture1{
          position:relative;
          display: inline-block;
          width: 250px;
          height: 200px;
           padding: 5px;
           background: black url(img/weddinginvite.jpg) no-repeat center center;
           background-size:cover;
           margin-left:600px;
           float:right;
           
      }

      /*mission statement*/
      .mission{
          text-align:center;
          font-family:"Roboto", sans-serif;
          background-color:white;
          padding-top: 20px;
          font-weight:550;
          font-style: italic;
          font-size:20px;
      }

      /*Our Products*/
      .ourproducts{
          text-align: center;
          font-family:"Roboto", sans-serif;
      }

      .memorialcards{
          display: inline-block;
          width: 300px;
          height: 300px;
           padding: 5px;
           background: black url(img/IMG_0629.jpeg) no-repeat center;
           background-size:cover;
           float:right;
            margin-bottom:35px;
            margin-top:10px;
      }

      .opaque-overlay{
          position:absolute;
          margin-left:255px;
            margin-bottom:35px;
            margin-top:30px;
          height:270px;
          width:270px;
          background-color:rgba(0, 0, 0, 0.5);
          
      }

      .product{
          position:absolute;
          color:white;
          text-align:center;
          margin-top: 120px;
          margin-left:315px;
      }

      .opaque-2{
           position:absolute;
          margin-left:15px;
            margin-bottom:35px;
            margin-top:30px;
          height:270px;
          width:270px;
          background-color:rgba(0, 0, 0, 0.5);
      }

      .weddinginvitations{
          display: inline-block;
          width: 300px;
          height: 300px;
           padding: 5px;
           background: black url(img/weddingstationery.jpg) no-repeat center;
           background-size:cover;
           float:left;
            margin-bottom:35px;
            margin-top:10px;
      }

      .product2{
          position:absolute;
          color:white;
          text-align:center;
          margin-top: 120px;
          margin-left:75px;
      }

      /*Contact Us*/
      .contact{
          text-align:center;
          font-family:"Roboto";
          background-color: rgb(201, 225, 233);
      }

      .form{
          margin:0 auto;
          max-width:70%;
      }

      @media screen and (max-width:1266px){
          
          

          /*header*/
          .slideshow{
              height:400px;
              width:550px;
              
          }

          h1{
              font-size:40px;
          }

          .qoutebutton{
              height:60px;
              width:150px;
              font-size:20px;
              margin-top: 5px;
          }

          /*whqat do we do section*/
          .what-we-do{
              margin-left:0px;
          }

          /*our products*/
          .opaque-overlay{
              margin-left: 170px;
          }

          .product{
              margin-left:225px;
          }

      }

      @media screen and (max-width:750px){
          /*logo*/
          .logo{
              margin-left:0px;
          }

        /*header*/
          .slideshow{
              display:none;
          }

          .card{
              background: black url(img/cards.jpg) no-repeat center center;
              width:100%;
              height:300px;
              background-size: cover; 
          }

          h1{
              line-height:1.2;
              
          }

          

          /*what do we do section*/
          .what-we-do{
              margin-left:0px;
          }

          .picture{
              background: black url(img/memorial.jpg) no-repeat center center;
              width:100%;
              height:300px;
              background-size: cover; 
              
          }

          /*Our Products*/

          .memorialcards{
              float:none;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
              position:absolute;
              margin-top:150px;
          }

          .element1{
              position:relative
          }
          
          .weddingelement{
              position:relative;
          }
          .weddinginvitations{
              margin:0;
              float:none;
              top:50%;
              left:50%;
              transform: translate(-50%, -50%);
              position:absolute;
              margin-top:480px;
          }

          .weddinginvitations{
              float:none;
          }

          
          .oppy{
            display:flex;
            justify-content: center;
            margin-top:320px;
            margin-right:15px;
            }


          .weddingproduct{
              display:flex;
            justify-content: center;
            margin-right:63px;
          }

          

          .opaque-child{
              
              display:flex;
            justify-content: center;
            margin:auto 0;
            margin-top:-10px;
            margin-right:40px;
          }

          .opaque-title{
              display:flex;
            justify-content: center;
            margin-right:115px;
          }

          .contact{
              margin-top:350px;
          }

      }

      @media screen and (max-width:960px){

        /*header*/
          .slideshow{
              height:310px;
              width:420px;
              margin-right:0px;
              
          }

          h1{
              font-size:30px;
          }

          .qoutebutton{
              height:50px;
              width:150px;
              font-size:20px;
              margin:0;
          }

          /*what do we do section*/
          .what-we-do{
              margin-left:0px;
              margin-right:0;
              font-size:15px;
          }

          .mission{
              font-size:20px;
              padding-top:10px;
          }

          /*our products*/

          .ourproducts{
              text-align:center;
          }


          .opaque-overlay{
              margin-left:45px;
          }

          .product{
              margin-left:110px;
              
          }

          .product2{
              margin-left:65px;
              
          }

          .opaque-2{
              
              margin-left:15px;

          }

      }


      